html{
    height: 100%;
}
body{
    height: 100%;
}

.home-container{
    min-height: 100%;
}

#search-section{
    min-height: 60%;
    background: url("https://baumit.rs/files/cz/references/526-non-residen-campus-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%; 
}