
#home-section .home-inner{
    padding-top: 100px;
}

#personalInformation{
    margin-top:20px;
}

#loginInformation {
    display:none;
}
#moreInformationIzdavac{
    display:none;
}
#moreInformationStudent{
    display:none;
}
